<div class="top-link">
  <a href="/" class="btn btn-primary">Go back</a>
</div>

<div class="card-grid">
  {{#each artistAlbums}}
    <div class="card">
      <img src={{this.images.[0].url}} class="card-img-top" alt={{this.name}} />
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">Ckeck out this album's tracks</p>
        <a href="/tracks/{{this.id}}" class="btn btn-primary">View tracks</a>
      </div>
    </div>
  {{/each}}
</div>