<div class="container">

    <h1>Albums</h1>
    <div class="albums cnt">
        {{#each items}}
        {{#if this.images.0.url}}
        <div class="card">
            <img src="{{this.images.0.url}}" alt="" width="200">
            <div class="info">
                <p>{{this.name}}</p>
                {{!-- The naming of href should be the same as in the app.get  --}}
                <a href="/tracks/{{this.id}}">
                <button>View tracks</button></a>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>