<div class="header">
  <h1>
    Spotify Search
  </h1>
</div>

<div class="form-container">
  <form action="/artist-search" method="get">
    <div class="input-group mb-3">
      <input
        required
        type="text"
        class="form-control"
        placeholder="Artist search"
        id="artist-search"
        name="artistSearch"
      />
      <button class="btn btn-primary" type="submit" id="button-addon2">Search
        for artist</button>
    </div>
  </form>
</div>