
<div id="container">

	
	<img src="/images/spotify-background.jpeg" alt="Background image">
	
	<div class="form-column">
		<form action="/search" ,method="get" class="form">
		<div >
		<input type="search" id="search" name="q" placeholder="search for an artist!" />
		</div>
		<div>
		<button id="search-button">Search for an Artist</button>
		</div>
		</form>
	</div>
</div>

{{!-- You're not using this view anywhere. Don't get confused with index and home. Normally,
they are the same thing but with different names. Choose one and stick with it, but normally you won't have both in the same ap --}}

