
{{!-- You're not using this view (using home instead), so should not have it in your project --}}

<div id="container">

	
	<img src="/images/spotify-background.jpeg" alt="Background image">
	
	<div class="form-column">
		<form action="/search" ,method="get" class="form">
		<div >
		<input type="search" id="search" name="q" placeholder="search for an artist!" />
		</div>
		<div>
		<button id="search-button">Search for an Artist</button>
		</div>
		</form>
	</div>
</div>

